*{
    font-family: 'Open Sans', sans-serif;

}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.nav ul{
    display: flex;
    
}
.nav li{
    display: inline-block;
    margin: 10px;
    padding: 0;
    list-style: none;
    }
img{
    width: 70px;
    height:inherit;
}

/* end navbar */

.showcase{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.left{
width: 500px;
height: inherit;
margin-left: 50px;

}
.showcase img{
width: 600px;
height: inherit;
margin-left: 40px;

}
.all{
    font-size: 30px;
    font-weight: bold;
}
.lorem{
    font-size: 15px;
}

.email{
    width: 300px;
    height: 25px;
}
.submit{
    width: 150px;
    height: 30px;
    background-color: deepskyblue;
    border: none;
}

.background{
/*    background-image : url(/images/bg-curve-desktop.svg);*/
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40vh;
    position: absolute;

}


.stay{
    font-size: 30px;
}
.img{
    width: 10;
    height: inherit;
    margin-top: 30px;
}
a{
    color: hsl(238, 22%, 44%);
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.arrow img{

    width: 10px;
    height: inherit;
  background-color: black;
  font-weight: 20px;
}
.arrow{
    list-style: none;

}
.see{
    display: flex;
}

.pagetwo{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.pagetwo img{
    width: 600px;
    height: inherit;
    margin-left: 40px;
    
}
li{
    list-style: none;
}
li .quotes{
    width: 15px;
    height: inherit;
 
}
.profile{
    display: flex;
    align-items: center;
}
.user{
    margin-left: 10px;
}

.profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
}
.username{
    margin-right: 10px;
}
.card{
    width: 330px;
    padding: 10px;
    height: 200px;
    font-family: sans-serif;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    margin-top: 10px;
}

.contact{
    display: flex;
    background-color: rgb(64, 64, 191);
    width: 100%;
    height: 40vh;
}
.getleft{
    width: 50%;
    align-items: center;
    padding: 95px 100px;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;;
}
.getright{
    width: 50%;
 
    align-items: center;
    padding: 150px 100px;
    font-family: sans-serif;
}

.search{
    width: 350px;
    height: 25px;
}

.btn{
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color: rgb(78, 78, 223);
    border: none;
    color: white;;
}

.footer{
    display: flex;
    background-color: rgb(5, 5, 37);
    width: 100%;
    height: 10vh;
    font-size: 15px;

}

.num{
 color: white;;
}

.icon2{
    color: white;;;
}

.footer{
    padding: 90px 50px;
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .nav-items {
        display: none;
    }

    .showcase{
        display: block;

    }
    .showcase img{
        width: 380px;
        height: inherit;
        margin-left: 40px;
        
        }
        .all{
            font-size: 20px;
        }
        .lorem{
            font-size: 10px;
        }
        .left{
            width: 400px;
            line-height: 20px;
        }
        .submit{
            margin-top: 10px;
        }

        .pagetwo{
            display: block;
            
        }
        .img{
            width: 380px;
            height: inherit;
            margin-left: 40px;
        }
  }